div{
	font-size: 12pt;
	text-align: left;
	margin-top:25px;
	margin-bottom: 25px;
	font-family:Arial;
	font-variant: small-caps;
	font-weight: lighter;
	color: #3366FF;
	/*background-color: white;*/
	background: transparent;
	
   
}